<!-- update-employee.component.html -->
<form [formGroup]="employeeForm" (ngSubmit)="updateUser()">
  <button (click)="backToUserList()">Volver a la Lista de Usuarios</button>
  <h2 class="md:mt-10">Actualizar Usuario</h2>
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre" formControlName="name" required>

  <label for="department">Departamento:</label>
  <select id="department" name="department" formControlName="department" required>
    <option *ngFor="let department of departments" [value]="department.name">{{ department.name }}</option>
  </select>

  <label for="leader">Líder:</label>
  <input type="text" id="leader" name="leader" formControlName="leader" readonly>

  <button type="submit" class="mt-4">Actualizar Usuario</button>
</form>
